.nav-bar {
  background-color: #fff;
  height: 125px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.nav-logo{
  width: 125px;
}

.first-bar{
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  width: 20vw;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.second-bar{
  width: 80vw;
  height: 100%;
}

.first-row-nav{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 30%;

  background-color: var(--primary-color);
  padding: 8px 15px;
  font-size: smaller;
}

.second-row-nav{
  display: flex;
  align-items: center;
  height: 70%;
}

.first-row-nav .nav-text {
  color: #f5f5f5;
  margin-right: 15px;
  transition: 0.2s ease-in;
}

.nav-text-col {
  display: flex;
}

/*Navigation links*/
.nav-links-destkop {
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  height: 100%
}

.nav-menu-items {
  width: 100%;
  height: 100%;
  display: flex;
  fill: var(--primary-color);
  color: red;
}

.nav-text {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
  
.nav-text a {
  text-decoration: none;
  color: #060b26;
  font-size: 16px;
  opacity: 0.75;
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  padding: 0 26px;
  transition: 0.25s ease-in;
}

.nav-text a svg{
  font-size: larger;
  fill: #060b26;
}

.nav-text a:hover {
  color: #fff;
  background-color: var(--primary-color);
  font-size: 18px;
  opacity: 1;
}

.nav-donate a {
  color: var(--second-color);
}

.nav-donate a:hover{
  color: #fff;
  background-color: var(--second-color);
  font-size: 20px;
  padding: 0px 28px;
}

.nav-user {
  margin: auto;
  border: 0;
  background-color: #fff;
  color: var(--second-color);
}

.mobile-nav-user{
  margin-left: 10px;
  background-color: #060b26;
}

.nav-user a, .mobile-nav-user a {
  font-size: 14px;
  background-color: var(--second-color);
}

.logout-btn a{
  background-color: none;
}

.nav-user a:hover, .mobile-nav-user a:hover{background-color: var(--primary-color);}

.nav-user-icon, .mobile-nav-user-icon{
  font-size: 20px;
  fill: #fff;
}

.nav-button {
  display: none;
}

/*Navigation sidebar*/
.nav-menu, .menu-bars {
  display: none;
}
  
.nav-menu.active {
  left: 0;
  transition: 350ms;
}

/******TABLET RESPONSIVE******/
@media screen and (max-width: 900px){
  .nav-links-destkop {
    display: none;
  }

  .first-bar{
    width: 40vw;
  }

  .first-row-nav{
    display: none;
  }

  .second-row-nav {
    height: 100%;
    justify-content: space-between;
  }
  
  /*Menu Button */
  .menu-btn {
    fill: rgb(0, 0, 0);
  }
    
  .menu-bars, .close-bars {
    margin: 0 1rem;
    font-size: 2rem;
    background: none;
  }

  /*Toogle Sidebar*/
  .nav-menu-items {
    flex-flow: column;
  }

  .navbar-toggle {
    background-color: #060b26;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .nav-text a svg{
    fill: var(--second-color);
  }

  .nav-text {
    color: #f5f5f5;
    padding: 8px 0px 8px 16px;
    height: 60px;
    margin-right: 15px;
  }
  
  .nav-text a {
    color: #f5f5f5;
    border-radius: 4px;
    border-bottom: 1px solid hsla(0, 0%, 96%, 0.145);
    padding: 0 10px;
    transition: 0.2s ease-in;
    opacity: 1;
  }

  .nav-text a:hover {
    background-color: var(--primary-color);
    transform: scale(1.1);
    border-bottom: 0;
  }

  .nav-links {
    width: 50%;
  }

  .nav-user{
    margin: 0;
    margin-left: auto;
  }

  /*Navigation Sidebar*/
  .menu-bars{
    display: block;
  }

  .nav-menu {
    background-color: #060b26;
    width: 300px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
  }
    
  .nav-menu.active {
    left: 0;
    transition: 350ms;
  }

  /*Animation for Close button*/
    @keyframes rotating-btn {
      100%{
        transform: translateY(5px);
        -webkit-transform: translateY(5px);
        -moz-transform: translateY(5px);
      }
    }
  
    .close-btn {
      transition: 0.5s;
    }
    .close-btn:hover{
      fill: rgb(255, 51, 0);
      transform: scale(1.15);
      animation: rotating-btn 1s infinite ease-in-out alternate;
    }
}

/******MOBILE RESPONSIVE******/
@media screen and (max-width: 500px) {
  .first-bar {
    width: fit-content;
    padding: 0 15px;
    border: none;
  }

  .second-row-nav{
    justify-content: flex-end;
  }

  .nav-links{
    width: 100%;
    justify-content: end;
    border: none;
  }

  .nav-user{
    display: none;
  }

  .nav-button {
    display: block;
  }
}